@charset "UTF-8";

//
// Описание типографики
//


body, button, input, select, textarea {
  font-family: $font-family-base;
}

p {
  font-family: $font-family-base;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-base;
}
