@charset "UTF-8";

//
// Оформление отдельных элементов
//

.msav-copy {
  margin-top: $margin-small;
  font-size: .8em;
}

.bx-logo-text,
.bx-logo-text:hover,
.bx-logo-text:active {
  font-family: $font-family-base;
}

.bx-inc-orginfo-phone {
  font-family: $font-family-base;
}

.bx-block-title {
  font-family: $font-family-base;
}

.bx-footer .bx-block-title {
  font-family: $font-family-base;
}

h1.bx-title,
h2.bx-title,
h3.bx-title,
h4.bx-title,
h5.bx-title,
h6.bx-title {
  font-family: $font-family-base;
}

.bx-inclinksfooter .bx-block-title,
.bx-inclinksfooter-container,
.bx-inclogofooter-tel,
.bx-inclogofooter-worktime,
.bx-banners .bx-block-title,
.bx-wt .bx-block-title,
.bx-s-info-titletext,
.bx-s-info-content,
.bx-s-info-content,
.bx-404-text-block,
.bx-maps-title,
.bx-map-title,
.bxd-title,
.bx-top-nav-container {
  font-family: $font-family-base;
}


//
// Скрываем границу контейнера
//
.bx-header-section,
.bx-content-seection {
  border-left-width: 0;
  border-left-style: none;
  border-right-width: 0;
  border-right-style: none;
}


//
// Растягиваем меню во всю ширину
// 0083d1
.msav-main-nav {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #0083d1;

  nav.bx-top-nav-container {
    margin-top: 0;
  }
}
